CONFIG_NAMESPACES=y
CONFIG_EXPERT=y
CONFIG_BT_MRVL=m
CONFIG_BT_MRVL_SDIO=m
CONFIG_GPIO_SYSFS=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FB_EFI=n
# optional for the som with
# the disabled gpu
CONFIG_MXC_GPU_VIV=n
# sbev p17 i2c
CONFIG_W1=m
CONFIG_W1_MASTER_DS2482=m
CONFIG_W1_SLAVE_DS2431=m
# USB Modems
CONFIG_USB_NET_KALMIA=m
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_USB_IPHETH=m
CONFIG_USB_SIERRA_NET=m
# imx8 isp
CONFIG_VIDEO_IMX219=n
CONFIG_VIDEO_OV5647=n
# FW issue
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=n
